{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

    {% block title %}CSE 412 Graphs{% endblock %}
	
	{% block indexDep %}
	<script src="{{url_for('static', filename='js/index.js')}}"></script>
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	{% endblock %}
    
{% block content %}

{% block overlay %}
<div id="overlay"></div>
<div id="CustomBar" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
{% endblock %}
<div class="container" id="main_content">
  <header>
      
  </header>

  <main>
	<span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776; Customize Charts</span>
  	<div>
      <canvas id="avgChart"></canvas>
    </div>
    <div>
	  <canvas id="countChart"></canvas>
	</div>
	<div id="loader"></div>

  </main>

  <footer>
      
  </footer>
</div>

{% endblock %}
