{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

    {% block title %}CSE 412 Graphs{% endblock %}
	
	{% block indexDep %}<script src="{{url_for('static', filename='js/index.js')}}"></script>{% endblock %}
    
{% block content %}
<div class="container" id="main_content">
  <header>
      
  </header>

  <main>
  	<div>
      <canvas id="avgChart"></canvas>
    </div>
    <div>
	  <canvas id="countChart"></canvas>
	</div>
  </main>

  <footer>
      
  </footer>
</div>

{% endblock %}
